In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("links.csv")

In [3]:
df.head()

  Device_Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151        <url>http://tXh67.dia_meter.com</url>
2      ZOD231     <url>http://yT5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_TRu.crown.com</url>
4      LWR245      <url>https://luwr3243.celcius.com</url>

In [4]:
url_list = df['Stats_Access_Link'].values

In [5]:
url_list

array(['<url>https://xcd32112.smart_meter.com</url>',
       '<url>http://tXh67.dia_meter.com</url>',
       '<url>http://yT5495.smart_meter.com</url>',
       '<url>https://ret323_TRu.crown.com</url>',
       '<url>https://luwr3243.celcius.com</url>'], dtype=object)

In [6]:
sitem = '<url>http://luwr3243.celcius.com</url>'
print(sitem.find('https'))

-1

In [7]:
sitem = 'yT5495.smart_meter.com'
print(sitem.lower())

yt5495.smart_meter.com

In [8]:
siteler = []
for url in url_list:
    if url.find('https') == -1 :  ## string de https yoksa 
        site = url[12:-6]
        siteler.append(site)
    else:
        site = url[13:-6]
        siteler.append(site)
siteler

['xcd32112.smart_meter.com',
 'tXh67.dia_meter.com',
 'yT5495.smart_meter.com',
 'ret323_TRu.crown.com',
 'luwr3243.celcius.com']

In [9]:
lower_siteler = []
for i in range(len(siteler)):
    lower_siteler.append(siteler[i].lower())
print(lower_siteler)

['xcd32112.smart_meter.com', 'txh67.dia_meter.com', 'yt5495.smart_meter.com', 'ret323_tru.crown.com', 'luwr3243.celcius.com']

In [20]:
for index in df.index:
    df['Stats_Access_Link'].iloc[index]=lower_siteler[index]

In [21]:
df

  Device_Type         Stats_Access_Link
0      AXO145  xcd32112.smart_meter.com
1      TRU151       txh67.dia_meter.com
2      ZOD231    yt5495.smart_meter.com
3      YRT326      ret323_tru.crown.com
4      LWR245      luwr3243.celcius.com

In [15]:
df[df['Device_Type']=='AXO145']['Stats_Access_Link']

0    xcd32112.smart_meter.com
Name: Stats_Access_Link, dtype: object