In [1]:
import pandas as pd
import numpy as np
import statistics

In [2]:
df = pd.read_csv("country_vaccination_stats.csv")

In [3]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [4]:
df.iloc[0]['country']

'Argentina'

In [5]:
df.isna().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [6]:
null_index_list = []
index = 0
eksik_veri = pd.isna(df['daily_vaccinations'])
for satir in eksik_veri:
    if satir == True:
        null_index_list.append(index)
    index+=1

In [7]:
df = df.fillna(0)  ## medyanı daha doğru bulmak ve kuveyt gibi medyanı olmayan ülkeleri 0 yapmak için

In [8]:
medyan_list = df.groupby('country').median()
medyan_list

                      daily_vaccinations
country
Argentina                        11645.0
Austria                           7850.0
Bahrain                           3662.0
Belgium                           3606.0
Brazil                           17220.0
Bulgaria                          1010.0
Canada                           11044.0
Chile                             1291.0
China                           276786.0
Costa Rica                         675.5
Croatia                           2485.0
Cyprus                             708.0
Czechia                           5378.0
Denmark                           7095.5
Ecuador                             54.0
England                         107310.5
Estonia                           1043.0
Finland                           2035.5
France                           41496.0
Germany                          51184.0
Gibraltar                          713.0
Greece                            5290.0
Hungary                           5464.5
Iceland                             63.0
India                           173922.0
Indonesia                        13200.0
Ireland                           6528.0
Isle of Man                        138.0
Israel                           92587.0
Italy                            44475.5
Kuwait                               0.0
Latvia                             592.0
Lithuania                         1933.5
Luxembourg                          88.0
Malta                              407.5
Mexico                            5488.0
Netherlands                       6762.0
Northern Ireland                  2135.0
Norway                            2958.0
Oman                              1192.0
Panama                            1324.0
Poland                           22702.5
Portugal                          5944.0
Romania                          13030.0
Russia                           23563.0
Saudi Arabia                     16807.5
Scotland                          5821.0
Serbia                            2920.0
Seychelles                        1000.0
Singapore                         4907.0
Slovakia                          5357.0
Slovenia                          2374.0
Spain                            55238.0
Sweden                            5382.5
Switzerland                       3000.0
Turkey                          150356.0
United Arab Emirates             86430.0
United Kingdom                  120409.0
United States                   378253.0
Wales                             2198.0

In [9]:
df.iloc[0]['country']

'Argentina'

In [10]:
ulkem = 'Turkey'
medyan_list.loc[ulkem].values[0]

150356.0

In [11]:
for nulls in null_index_list:
    ulke = df.iloc[nulls]['country']
    ulke_medyan = medyan_list.loc[ulke].values[0]
    df['daily_vaccinations'].iloc[nulls] = ulke_medyan

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [12]:
df.iloc[307]

country                        Cyprus
date                         1/6/2021
daily_vaccinations              708.0
vaccines              Pfizer/BioNTech
Name: 307, dtype: object

In [13]:
null_index_list

[0,
 28,
 48,
 77,
 103,
 113,
 141,
 184,
 217,
 254,
 280,
 307,
 324,
 354,
 384,
 386,
 422,
 451,
 477,
 499,
 528,
 543,
 572,
 600,
 627,
 638,
 652,
 677,
 682,
 720,
 750,
 751,
 780,
 812,
 838,
 866,
 899,
 916,
 959,
 988,
 1016,
 1022,
 1050,
 1079,
 1108,
 1138,
 1150,
 1193,
 1211,
 1226,
 1238,
 1256,
 1278,
 1300,
 1322,
 1352,
 1365,
 1386,
 1422,
 1459]

In [14]:
df.to_csv("medyan-ile-dolduruldu.csv")